/*
    hebecollins color 1- #ea3e0d dark orange
    hebecollins color 2- #e67817 light orange
    hebecollins color 3- #1e1e1e dark grey
*/

.navbar {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: black;
    border-bottom-style: solid;
    border-bottom-color: #e67817; /*hebecollins-theme-color-2*/
}

.hebecollins-home {
    background-image: url("../../images/home2.jpg");
    display: inline-block;
    /*top: 0; right: 0; bottom: 0; left: 0;*/
    /*height: 100vh;*/
    /*width: 100vw;*/
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*min-width: 100%;*/
    /*min-height: 100%;*/
    /*object-fit: cover;*/
    /*justify-content: center;*/
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-attachment: fixed;
    background-position: center center;
}


.row {
    display: flex; /* equal height of the children */
}

.hebecollins-content {
    padding-top: 6em;
    padding-bottom: 10em;
    min-height: 100%;
}

.container-fluid {
    position: relative;
    align-content: center;
}

.hebecollins-content-child {
    background: rgba(204, 204, 204, 0.2);
    border-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    float: left;
    padding: 30px 30px 50px 30px;
}

.col {
    padding: 0 9% 0 9%;
}

.hebecollins-absolute {
    position: absolute;
    top: 60px;
    width: 100%;
    left: 10%;
}

.hebecollins-needs-alert{
    position: relative;
    top: 70px;
}

.hebecollins-scroll-monitor {
    overflow: auto;
    width: 400px;
    height: 400px;
}

.hebecollins-scroll-monitor::-webkit-scrollbar {
    background-color: #e67817;
    width: 12px;
}

.hebecollins-scroll-monitor::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    /*border-radius: 10px;*/
}

.hebecollins-scroll-monitor::-webkit-scrollbar-thumb {
    background-color: #ea3e0d;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}