/*warning signs*/
.has-error .help-block {
    color: white;
}

.checkbox-text {
    color: #cccccc;
}

/*btn-hebecollins*/
.btn-hebecollins-reverse {
    background-color: #cccccc;
    color: black;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-hebecollins {
    background-color: #ea3e0d;
    color: black;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-hebecollins:focus {
    background-color: #cccccc;
    border-color: #1e1e1e;
}

/*.btn-hebecollins:active:hover{*/
/*background-color: #111111;*/
/*border-color: #000000;*/
/*}*/

.btn-hebecollins-reverse:disabled,
.btn-hebecollins-reverse[disabled] {
    border: 0px solid #999999;
    background-color: #ea3e0d;
    color: black;
    opacity: 1;
}

.btn-hebecollins:disabled,
.btn-hebecollins[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: black;
    opacity: 0;
    width: 100%;
}

