/*btn-hebecollins*/
.btn-hebecollins-reverse{
    background-color: #cccccc;
    color:black;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-hebecollins{
    background-color: #ea3e0d;
    color:black;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.btn-hebecollins:focus{
    background-color: #cccccc;
    border-color: #1e1e1e;
}
/*.btn-hebecollins:active:hover{*/
    /*background-color: #111111;*/
    /*border-color: #000000;*/
/*}*/

.btn-hebecollins-reverse:disabled,
.btn-hebecollins-reverse[disabled]{
    border: 0px solid #999999;
    background-color: #ea3e0d;
    color: black;
}

.btn-hebecollins:disabled,
.btn-hebecollins[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: black;
}


/*txt at signup page Sign Up for free*/
.white-center{
    color: white;
    text-align: center;
    font-size: 25px ;
}

/*box around signup and login*/
.well{
    background: rgba(204, 204, 204, 0.2);
    border-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    float: left;

}

/*warning signs*/
.has-error .help-block
{    color: white;
}

.container-fluid{
    background-color: #424242;
    min-height: 100%;
}

.alert-danger{
    /*background: rgba(204, 500, 204, 0.2);*/
    /*color:white;*/
    /*border-top: none;*/
    /*border-bottom: none;*/
    /*border-left : none;*/
    /*border-right: 20px solid #ea3e0d;*/
}

.alert-success{
    /*background: rgba(204, 500, 204, 0.2);*/
    /*color:white;*/
}

.close{
}