
.fade-enter{
    opacity:0;
}
.fade-enter-active{
    opacity:1;
    transition: opacity 1000ms ease-out;
}
.fade-leave{
    opacity:1;

}
.fade-leave-active{
    opacity: 0;
    transition: opacity 1000ms ease-out;
}
.fade-active{
    opacity: 0;
}
.fade-appear-active{
    opacity: 1;
    transition: opacity 1000ms ease-out;
}

.slide-enter{
    transform: translateX(-100%);
}
.slide-enter-active{
    animation: slide-in 300ms ease-out forwards;
}
.slide-leave{
    transform: translateX(0%);
}
.slide-leave-active{
    animation: slide-out 300ms ease-out forwards;
}
@keyframes slide-in  {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes slide-out  {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}