
:root {
    --dark-orange: #ea3e0d;
    --light-orange: #e67817;
    --dark-grey: #1e1e1e;
    --light-gray:#454a4e
}

#app {
    background-color: black;
    min-height: 100vh;
}

 body{
    min-height: 100vh;
}
 html{
     min-height: 100vh;
 }

@media (max-width: 768px) {
    #page {
        background-image: url("http://dev.hebecollins.com/images/guest_home_mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100%;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
    }

    .layer {
        background: rgba(0, 0, 0, .6);
    }

    .login-signup {
        background: rgba(204, 204, 204, 0.2);
        border-radius: 0;
        padding: 10% 5% 15% 5%;
    }

    .white-box {
        background: rgba(204, 204, 204, 0.4);
        border-radius: 0;
        overflow: auto;
        padding: 20px 5% 40px 5%;
    }

    /*home page*/
    .quote-box {
        background: rgba(230, 120, 23, .6);
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .single-screen-2{
        margin:0;
    }


    .black-box {
        background-color:var(--dark-grey);
        border-radius: 0;
        overflow: auto;
        padding: 10px 5% 30px 5%;
    }

}

@media (min-width: 768px) {
    #page {
        background-image: url("http://dev.hebecollins.com/images/guest_home.jpg");
        /*display: inline-block;*/
        /*height: 100vh;*/
        left: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .layer {
        background: rgba(0, 0, 0, .6);
    }

    .login-signup {
        background: rgba(204, 204, 204, 0.2);
        border-radius: 0;
        padding: 30px 5% 30px 5%;
    }

    .white-box {
        background: rgba(204, 204, 204, 0.4);
        border-radius: 0;
        overflow: auto;
        padding: 20px 5% 40px 5%;
    }


    .black-box {
        background-color:var(--dark-grey);
        border-radius: 0;
        overflow: auto;
        padding: 10px 5% 30px 5%;
        margin-left: 50px;
        margin-right: 50px;
    }

    /*home page*/
    .quote-box {
        background: rgba(230, 120, 23, .6);
        min-height: 500px;
    }

    .single-screen-2{
        margin:0 5% 0 5%;
    }

}

.description {
    background: rgba(204, 204, 204, 0.2);
    border-radius: 0;
    padding: 30px 5% 50px 5%;
    color: white;
    font-size: larger;
}

#flash-message {
    position: absolute;
    top: 55px;
    min-width: 100%;
    min-height: 45px;
    z-index: 98;
}

.content {
    position: relative;
    padding: 55px 0 40px 0;
    margin-top: 50px;
    min-height: 80vh;
}

.active {
    font-size: large;
    color: black !important;
    background: var(--dark-orange) !important;
}

.content-child-two-screen {
    padding: 0 7% 7% 7%;
}

@media (max-width: 768px) {
    .content-child-two-screen {
        padding: 0;
    }
    .col{
        padding-left:4px;
        padding-right:4px;
    }
}

.navbar {
    position: fixed;
    margin-bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    background-color: black;
    border-width: 2px;
    border-bottom-color: var(--light-orange); /*hebecollins-theme-color-2*/
}

.row {
    display: flex; /* equal height of the children */
}

.hebecollins-content {
    padding-top: 6em;
    padding-bottom: 10em;
    min-height: 100%;
}

.format-form {
    padding-left: 5%;
    padding-right: 5%;
}

.monitor {
    height: 100% !important;
}

.monitor-data-box {
    color: white;
}

.round-edged-box {
    background: rgba(204, 204, 204, 0.4);
    margin: 0 30px 0 30px;
    border-radius: 20px;
    overflow: auto;
    padding: 20px 3% 40px 3%;
    display: inline-block;
}

.round-edged-box.less-padding {
    padding: 20px 1% 30px 1%;
}

@media (max-width: 768px) {
    .round-edged-box {
        margin: 0 10px 0 10px;
        height: 100%;
    }
}

@media (min-width: 768px) {
    .round-edged-box {
        margin: 0 30px 0 30px;
    }
}


/*======================================================================================*/
/*represents scroll-bar*/
/*========================================START===========================================*/
.scrollbar-track-vertical {
    position: absolute;
    width: 10px;
    right: 2px;
    bottom: 2px;
    top: 2px;
    border-radius: 3px;
    background-color: var(--light-gray);
}

.scrollbar-thumb-vertical {
    position: relative;
    display: block;
    cursor: pointer;
    border-radius: inherit;
    background-color: var(--light-orange);
}
/*======================================END================================================*/

.bottom-of-div{
    bottom: 0;
    position: absolute;
    margin: 0 !important;
    display: flex;
}

.field{
    color: white;
    font-weight: normal;
    margin: 0;
    font-size: medium;
}

@media (max-width: 768px) {
    .field{
        font-size: 15px!important;
    }

    .value{
        font-size: 15px !important;
    }
}

.value{
    color: var(--dark-grey);
    font-weight: normal;
    padding-left: 5px;
    margin: 0;
    font-size: medium;
}

.margin{
    padding: 10px;
}

.badge{
    max-height: 40px;
}

.margin-auto{
    margin:auto;
    width: 100%;
}