/*warning signs*/
.has-error .help-block {
    color: white;
}

.checkbox-text {
    color: #cccccc;
}

.gender{
    background: rgba(0, 0, 0, 0.6);
    color:white;
}

option{
    background: rgba(0, 0, 0, 0.8);
}

/*.select{*/
    /*opacity: 0.6 !important;*/
/*}*/
/*select option { color: white; }*/



/*btn-hebecollins*/
.btn-hebecollins-reverse {
    background-color: #cccccc;
    color: black;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-hebecollins {
    background-color: #ea3e0d;
    color: black;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-hebecollins:focus {
    background-color: #cccccc;
    border-color: #1e1e1e;
}

.btn-hebecollins-reverse:disabled,
.btn-hebecollins-reverse[disabled] {
    border: 0;
    background-color: #ea3e0d;
    color: black;
    opacity: 1;
}

.btn-hebecollins:disabled,
.btn-hebecollins[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: black;
    opacity: 0;
    width: 100%;
}

.form-control{
    background-color:transparent;
    color: white;
}

.form-group{
    margin-top: 25px;
}

.help-block{
    /*position: absolute;*/
}

.btn-next{
    border-radius:0 !important;
    background-color: var(--dark-orange);
    color:black;
    border-width: 0;
}

