.forgot-password {
    color: #cccccc;
    text-decoration: underline;
}

/* unvisited link */
.forgot-password:visited {
    color: #cccccc;
}

/* visited link */
.forgot-password:hover {
    color: #ea3e0d;
}

/* mouse over link */
.forgot-password:active {
    color: #cccccc;
}

/*txt at signup page Sign Up for free*/
.white-center {
    color: white;
    text-align: center;
    font-size: 25px;
}

.white-fade{
    text-align: center  ;
    opacity: 0.40;
}

#horizontal-line{
    opacity: 0.40;
}

.icon {
opacity:1 !important;
}

.icon-center{
    color: var(--dark-orange);
    text-align: center;
    font-size: 100px;
    background: rgba(0, 0, 0, 0.6);
}