.cover-photo-container {
    height: auto;
    overflow: auto;
}

.cover-photo {
    width: 100%;
    overflow: auto;
}

.cover-photo-container .pop-on-screen {
    overflow: auto;
}

.logo .pop-on-screen {
    overflow: auto;
}

.logo {
    width: 100%;
    border: 5px solid white;
}


@media (min-width: 768px) {
    .cover-photo-container {
        width: 80%;
        margin: 0 10% 0 10%;
    }
    .logo-container {
        width: 20%;
        margin-top: -12%;
        margin-left: 15%;
        position: relative;
    }

    .gym-name {
        font-size: xx-large;
        margin-left: 20px;
    }

    .gym-info{
        width: 80%;
        margin: 0 10% 0 10%;
    }
}

@media (max-width: 768px) {
    .cover-photo-container {
        width: 100%;
    }
    .logo-container {
        width: 35%;
        margin-top: -13%;
        margin-left: 5%;
        position: relative;
    }
    .edit-image-icon .glyphicon{
        font-size:medium !important;
        margin-top:-40px;
        padding: 3px 6px 3px 6px;
    }

    .gym-name {
        font-size: large;
        margin-left: 10px;
    }
}

.gym-name{
    color: white;
    position: absolute;
    bottom: 0;
}

.gym-info .orange-header{
    border-bottom: 1px solid white;
    padding-bottom: 0;
    margin-bottom: 10px;
}