
@media (min-width: 768px) {
    .profile-pic{
        width:100%;
        margin-top: 25px;
    }
    .profile{
        display: flex;
    }

    .profile-data{
        margin-left: 20px;
        width:55%
    }
    .profile-pic-container{
        width: 45%;
        margin-left: -2%;
        margin-right: 10px;
    }

    .profile-pic-container .pop-on-screen{
        padding: 10%;
        overflow: auto;
    }

    .profile-pic-container .pop-on-screen .dropzone{
        background-color: black;
        height: 400px;
        width: 70%;
        margin-left: 15%;
    }

}

@media (max-width: 768px) {
    .profile-pic{
        width:100%;
        height:100%;
        margin-top:10px;
    }
    .profile{
        display: block;
    }

    .pop-on-screen .dropzone{
        background-color: black;
        width: 100%;
        height: 300px;
    }

    .profile-pic-container .pop-on-screen{
        padding-top: 20%;
        padding-left: 5px;
        padding-right: 5px;
        overflow: auto;
    }
}

.edit-image-icon .glyphicon{
    font-size: x-large;
    background-color: black;
    padding: 5px 10px 5px 10px;
    color: white;
    float: right;
    margin-right: 3%;
    margin-top: -51px;
    border-radius: 5px;
}

.edit-image-icon > label{
    float: right;
}

.edit-image-icon .form-group .upload-box {
    display: none;
}

.heading{
    font-size: medium;
    font-weight: bold;
    color: var(--dark-orange);
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    margin-top: 20px;
}
.profile-data .flex{
    font-family: "Arial ";
    margin: 5px ;
}
.profile-data .flex  .field{
    padding: 3px;
    margin-right: 10px;
    color: var(--light-orange);
}

.profile-data .flex  .value{
    padding: 3px;
    margin-right: 10px;
    color: white;
}

.orange-field{
    margin:8px;
}

.orange-field .field{
    color: var(--light-orange);
}
.orange-field .value{
    color: white;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 10px;
}

.edit-box{
    margin-top: 5px;
    margin-bottom: 15px;
}
.edit-box-buttons{
    margin-top: -12px;
}

