.rating-group {
    padding: 10px;
}

.rating {
    display: flex;;
}

.rating-label {
    font-size: medium;
    font-family: Calibri;
    font-weight: 100;
    color: white;
    padding-right: 10px;
    padding-top: 5px;
    width: 150px;
}

@media (min-width: 768px) {
    .add-review {
        padding:10px 20px 20px 20px;

        margin:auto;
    }
    .add-review-box{
        width: 400px;
        top:60px;
        margin:auto;
    }}

@media (max-width: 768px) {
    .add-review {
        width: 100%;
        padding: 5px;
        margin:auto;
    }
.add-review-box{
    width: 100%;
    top:100px;
    padding: 5px;
}
}

.add-review-box {
    position: relative;
    background-color: #1e1e1e;
}

.add-review-box .list-element {
    margin-bottom: 10px;
}

.rating-text .form-control {
    font-size: small;
}

.rating-text .comment-box {
    height: 90px;
}

/*==========================================================================================================*/
/*DISPLAY REVIEW COMPONENT in view mode*/


@media (min-width: 768px) {
    .star-svg {
        height: 25px !important;
        width: 25px !important;
    }
    .average-rating{
        width: 200px;
        border-right: 1px solid white;
    }

    .review-comment{
        padding-left: 20px;
    }

    .review-list{
        display: flex;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .star-svg {
        height: 25px !important;
        width: 25px !important;
    }

    .average-rating {
        display: grid;
    }

    .average-rating .rating-label {
        margin: auto;
        right: 0;
        width: auto;
        padding-top: 0;
        padding-right: 0;
    }

    .average-rating .star-box {
        margin: auto;
    }

    .average-rating .star-box .star-svg {
        height: 15px !important;
        width: 15px !important;
    }
    .review-description{
        font-size: small!important;
    }
}

.time-label{
    text-align: right;
}
.time-label .rating-label{
    width:auto;
    padding-top: 0;
    font-size: small;
}

.review-comment{
    width: 100%;
}
.review-title{
    font-size: large;
    color: white;
}
.review-description{
    color:white;
    font-size: medium;
    font-style: italic;
}


/*======================================================================================================*/
/*DISPLAY TRAINER AVG RATING component*/

@media (max-width: 768px) {
    .review-trainer-detail{
        margin: auto;
        display: grid;
    }

}

.performance-detail-box{
    display: grid;
}

@media (min-width: 768px) {
    .review-trainer-detail{
        margin: auto 0 auto 20px;
        display: flex;
        width: 70%;
        padding:30px;
        border-right: 1px solid white;
    }
}


.review-trainer-detail .field{
    text-align: center;
    padding:5px;
}

.review-trainer-detail .star-box{
    margin: auto;
}

.review-trainer-detail .star-box .star-svg{
    margin-left: 3px !important;
    margin-right: 3px !important;
}
.rank{
    font-size: 50px;
    padding:0 5px 0 5px;
    line-height: 34px;
    height: 34px;
}

@media (min-width:768px){
    .rating-overall{
        display: flex;
    }

    .rating-summary{
        width:70%;
        margin-left: 70px;
    }
}

@media (max-width:768px){
    .rating-summary{
        margin-top:20px;
        margin-left: 10px;
    }
    .review-trainer-detail .thumbnail-big{
        margin: auto;
    }


}
.rating-summary .orange-header{
    padding:0;
}


.rating-in-number{
    color: white;
    font-size: x-large;
    line-height: 25px;
    height: 25px;
}
.quality-name{
    color: var(--light-orange);
    width:200px;
}
.big{
    font-size: medium;
    color: var(--dark-orange);
}

.large{
    font-size: 22px !important;
}

/*===============================================================================================*/
/*DISPLAY TRAINER AVG RATING COMPONENT*/

.write-review-box{
    width:100%;
    margin-top: 10px;
    height:auto;
    display: flex;
    padding-top:20px;
    padding-bottom:20px;
    border-bottom:1px solid var(--light-gray);
    border-top:1px solid var(--light-gray);
}

.write-review-box .field{
    font-size: large;
    padding-right:20px;
}

.write-review-box .review-button{
    right: 0;
}

.pop-on-screen.opaque{
    background: rgba(0,0,0,1) !important;
}